!! Colorscheme
#include "/home/artic/.config/Xresources/colors/xcolor-nord.Xresources"

!! URxvt Appearance
URxvt.font: xft:JetBrainsMono Nerd Font Mono:style=Regular:size=15:antialias=true,\
  xft:Symbola:style=Regular:size=15,\
  xft:JoyPixels:style=Regular:size=15,\
  xft:DejaVu Sans Mono:style=Regular:size=15,\
  xft:Unifont:style=Regular:size=15
URxvt.boldFont: xft:JetBrainsMono Nerd Font Mono:style=Regular:size=15:antialias=true,\
  xft:Symbola:style=Regular:size=15,\
  xft:JoyPixels:style=Regular:size=15,\
  xft:DejaVu Sans Mono:style=Regular:size=15,\
  xft:Unifont:style=Regular:size=15
URxvt.italicFont: xft:Hermit:style=Italic:size=15
URxvt.boldItalicFont: xft:Hermit:style=Bold Italic:size=15
URxvt.termName: rxvt-unicode-256color
URxvt.depth: 32
!URxvt.background: [95]#0c030f
!URxvt.background: [80]#010101
!URxvt.background: [90]#21161e
URxvt.background: rgba:0000/0000/0200/c800
URxvt.geometry: 92x24
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.saveLines: 2048
URxvt.letterSpace: 0
URxvt.internalBorder: 24
URxvt.cursorBlink: true
URxvt.urgentOnBell: true
URxvt*antialias: false
URxvt*hinting: true
URxvt*hintstyle: hintfull

!! Common Keybinds for Navigations
!URxvt.keysym.Shift-Up: command:\033]720;1\007
!URxvt.keysym.Shift-Down: command:\033]721;1\007
URxvt.keysym.Control-k: command:\033]720;1\007
URxvt.keysym.Control-j: command:\033]721;1\007
URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Right: \033[1;5C
URxvt.keysym.Control-Left: \033[1;5D

!! Copy Paste & Other Extensions
URxvt.perl-ext-common: default,clipboard,url-select,keyboard-select,matcher
URxvt.clipboard.copycmd: xclip -i -selection clipboard
URxvt.clipboard.pastecmd: xclip -o -selection clipboard
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.underlineURLs: true
URxvt.urlButton: 1
URxvt.url-launcher: /usr/bin/qutebrowser
URxvt.matcher.button: 1
!URxvt.matcher.rend.0: Uline Bold fg

!! Cursor
Xcursor.theme: oxy-neon-green
